<mat-drawer-container class="my-account-container">
  <mat-drawer mode="side" opened class="action-buttons-container">
    <div class="action-buttons">
      <a routerLink="/files">
        <mat-icon>folder</mat-icon> Moje pliki
      </a>
      <a (click)="onLogout()"><mat-icon>logout</mat-icon> Wyloguj się</a>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="account-content">
      <h1>Twoje konto</h1>
      <br>

      @if (authService.user$ | async; as user) {
        <div class="user-info">
          <h2>Informacje o użytkowniku:</h2>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p><strong>UID:</strong> {{ user.uid }}</p>
          @if (user.displayName) {
            <p><strong>Nazwa:</strong> {{ user.displayName }}</p>
          }
          @if (user.photoURL) {
            <p><strong>Zdjęcie profilowe:</strong></p>
            <img [src]="user.photoURL" alt="Profile photo" class="profile-photo">
          }
          <p><strong>Email zweryfikowany:</strong> {{ user.emailVerified ? 'Tak' : 'Nie' }}</p>
        </div>
      } @else {
        <p>Nie jesteś zalogowany/a</p>
        <br>
        <button mat-raised-button color="primary" routerLink="/login">Zaloguj się</button>
      }
    </div>
  </mat-drawer-content>
</mat-drawer-container>


